{% extends 'post/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block description %}
    {{ post.description_for_search_engines }}
{% endblock %}
{% block main %}
    <main class="px-3 text-dark" style="margin-left: 450px; width: 900px;">
    <div class="card text-center">
        <div class="card-header">
            <a href="#" class="text-decoration-none text-dark" style="font-weight: 600">
                <img src="{{ post.author.avatar_thumbnail.url }}" alt="" width="32" height="32"
                     class="rounded-circle me-2">{{ post.author.user.username }}
            </a>
            <span class="text-muted">
                        {{ post.pub_date|date:"H:i d.m.Y" }}
                {% if post.pub_date != post.edit_date %}
                    (ред.
                    {% if post.pub_date|date:"d.m.Y" == post.edit_date|date:"d.m.Y" %}
                        в {{ post.edit_date|date:"H:i" }}
                    {% else %}
                        {{ post.edit_date|date:"H:i d.m.Y" }}
                    {% endif %}
                    )
                {% endif %}
                    </span>
            {% if post.author.user == user %}
                <a href="{% url 'post:edit_post' slug=post.slug %}" class="text-decoration-none">
                    <button type="button" class="btn btn-outline-primary btn-lg" style="margin-left: 200px">
                        Редактировать
                    </button>
                </a>
            {% endif %}
        </div>
        <div class="card-body">
            <h2 class="card-title text-dark">
                {{ post.title }}
            </h2>
            {% for tag in post.tags.all %}
                <a href="{{ tag.get_absolute_url }}" class="text-decoration-none text-dark me-1">
                    <span class="text-primary">#</span>{{ tag.name }}</a>
            {% endfor %}
            <img src="{{ post.image_thumbnail.url }}" width=600px style="margin: 15px 0;" alt="">
            <hr>
            <div class="text-start">
                {% autoescape off %}
                    <p class="card-text">{{ post.content }}</p>
                {% endautoescape %}
                <hr>
                <p><strong>Комментарии</strong>: <span
                        class="badge rounded-pill bg-dark">{{ post.comments.count }}</span></p>
                <hr>
                {% if request.user.is_authenticated %}
                    <form action="{% url 'comment:comment-create' content_type="post" object_id=post.id %}"
                          method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br>
                        <input class="btn btn-primary" type="submit" id="send-comment" value="Отправить">
                    </form>
                {% else %}
                    <p class="text-center">Оставлять комментарии могут только авторизованные пользователи</p>
                {% endif %}
                <hr>
                <div class="row" id="comments-list">
                    {% for comment in post.comments.all %}
                        <div class="col-md-12 mt-3 mb-3">
                            <p><a href="{{ comment.author.get_absolute_url }}" class="text-decoration-none text-dark"
                                  style="font-weight: 600">
                                <img src="{{ comment.author.avatar_thumbnail.url }}" alt="" width="32" height="32"
                                     class="rounded-circle me-2">{{ comment.author.user.username }}
                            </a>|
                                <small>{{ comment.created_at|date:"H:i d.m.Y" }}</small></p>
                            <p>{{ comment.text }}</p>
                        </div>
                        <br>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        const commentsSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/post_detail/'
            + "{{ post.id }}"
            + '/'
        );
        commentsSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            commentsList = document.getElementById('comments-list')
            commentsList.insertAdjacentHTML(
                'beforeend',
                '<div class="col-md-12 mt-3 mb-3">\n' +
                '<p><strong>' + data['message']['author'] + '</strong> | <small>опубликовано:' + data['message']['created_at'] + '</small></p>\n' +
                '<p>' + data['message']['text'] + '</p>\n' +
                '</div>'
            )
        };
        document.querySelector('#send-comment').onclick = function (e) {
            e.preventDefault()
            const messageInputDom = document.querySelector('#id_text');
            const text = messageInputDom.value;
            commentsSocket.send(JSON.stringify({
                'text': text
            }));
            messageInputDom.value = '';
        };

    </script>
{% endblock js %}

</main>