{% extends 'post/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
{{ profile.user.username }} | Ukiblog
{% endblock %}
{% block categories %}
{% endblock %}
{% block main %}
<div class="card" style="width: 800px; margin: 100px 600px 300px 500px; padding: 30px 30px">
    <div class="card-body">
        <span class="text-start fs-1">
            <img src="{{ profile.avatar_thumbnail.url }}" alt="" width="100" height="100" class="rounded-circle me-2">
            <a class="ms-2 text-decoration-none">@{{ profile.user.username }}</a>
        </span>
        <hr>
        <p class="text-secondary fs-5 text-center"><strong>Настройки профиля</strong></p>
        <hr>
        <div style="width: 705px">
            <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <div class="d-grid gap-2 col-6 mx-auto">
                <input type="submit" class="btn btn-success btn-lg" value="Обновить данные">
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}