{% extends 'post/base.html' %}
{% block title %}
{{ tag.name }}
{% endblock %}
{% block categories %}
<div class="card" style="width: 18rem; float: right; margin: 0 200px 0 30px">
    <div class="card-header">
        Категории
    </div>
    <ul class="list-group list-group-flush">
        {% for tag in tags %}
        <li class="list-group-item">
            {% if tag.slug == main_tag.slug %}
            <a href="{{ tag.get_absolute_url }}" class="text-decoration-none text-dark me-1" style="font-weight: 600">
                <span class="text-primary">#</span>{{ tag.name }}</a>
            {% else %}
            <a href="{{ tag.get_absolute_url }}" class="text-decoration-none text-dark me-1">
                <span class="text-primary">#</span>{{ tag.name }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
